img, button, br {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	-khtml-user-drag: none;
	-webkit-user-drag: none;
}

::-moz-selection {
	background: #ccc !important;
}
::selection {
	background: #ccc !important;
}

#main-section {
	margin: 100px;
}

/* nav */
.nav-link:hover {
	color: #fff !important;
}

/* footer */
.page-footer {
	text-align: center;
	background-color: #333;
	color: #fff;
}
.social-icon {
	color: #fff;
}

/*media queries*/
@media (max-width: 1200px) { /* bootstrap lg */

}
@media (max-width: 992px) { /* bootstrap md */

}
@media (max-width: 768px) { /* bootstrap sm */

}
@media (max-width: 576px) { /* bootstrap xs */

}